@import '../../styles/App.module';

.form {
  display: flex;
  .inputs {
    display: flex;
    flex-direction: column;
  }

  .file {
    display: flex;
    flex-direction: column;
  }

  .preview {
    width: 100%;
  }
}
