@import '../../styles/App.module';

.form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-top: 0;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 1rem;
  width: 100%;
  max-width: 800px;
  text-align: center;

  .inputs {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;

    @include sm {
      flex-direction: row;
    }
  }

  .file {
    display: flex;
    flex-direction: column;
  }

  .preview {
    width: 100%;
  }
}
