@import '../../styles/App.module';

.header {
  display: flex;
  height: $header-height;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  z-index: 10;

  h1 {
    font-size: 1rem;
    @include sm {
      font-size: 2rem;
    }
  }

  button {
    background-color: white;
    border: 0;
    height: 80%;
    padding: 0 2rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
  }
}
