@import 'App.module';

.container {
  margin: auto;
  max-width: 1200px;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
}

.search {
  display: flex;
  align-items: baseline;
  width: 100%;
  gap: 1rem;
  max-width: 800px;

  @include sm {
    gap: 4rem;
  }
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  -webkit-box-shadow: 2px 4px 13px -5px rgba(34, 60, 80, 0.14);
  -moz-box-shadow: 2px 4px 13px -5px rgba(34, 60, 80, 0.14);
  box-shadow: 2px 4px 13px -5px rgba(34, 60, 80, 0.14);

  @include sm {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
  }
}
